
# NodeJS
node_modules/

dist
openapi.yaml
*.db

# Playwright
test-results

# IDEs and editors
.idea

# OS
.DS_Store

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

