:root {
  --primary: #0070e0;
  --invalid-color: #c43443;
  --background: #fff;
  --primary-dark: color-mix(in oklab, var(--primary), black 15%);
  --focus-background: color-mix(in oklab, var(--primary) 5%, var(--background));
  --label-color: #666;
  --placeholder-color: #888;
  --border-color: rgba(0, 0, 0, 0.15);
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

* {
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

/* if the user has requested reduced motion, disable all transitions */
@media (prefers-reduced-motion) {
  * {
    transition: none;
  }
}

.view {
  display: grid;
  gap: 0.5rem;
}

.object {
  display: grid;
  gap: 0.75rem;
}

.field {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.value {
  white-space: nowrap;
  color: #222;
  font-weight: 600;
}

label {
  background: var(--background);
  color: var(--label-color);
}
