body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 3rem 5rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  gap: .25rem;
}

input {
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
  margin-bottom: .5rem;
}
